IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AXPASSEMBLY]') AND type in (N'U'))
BEGIN
CREATE TABLE [AXPASSEMBLY](
	[ROW_ID] [int] NOT NULL,
	[ASSEMBLYORIGINALDATA] [image] NOT NULL,
	[PROJECTCODE] [varchar](50) NULL,
	[PROJECTNAME] [varchar](50) NULL,
	[ISUSED] [bit] NOT NULL,
	[VERSION] [int] NOT NULL,
	[ASSEMBLYNAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AXPASSEMBLY] PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AXPPROG]') AND type in (N'U'))
BEGIN
CREATE TABLE [AXPPROG](
	[PROGID] [varchar](200) NOT NULL,
	[ASSEMBLYROWID] [int] NOT NULL,
	[VIEWPATH] [varchar](200) NULL,
	[VIEWCLASS] [varchar](50) NOT NULL,
	[VCLPATH] [varchar](200) NULL,
	[VCLCLASS] [varchar](200) NOT NULL,
	[PROGIDTYPE] [int] NOT NULL,
	[ISUSED] [bit] NOT NULL,
	[CLASSNAME] [varchar](512) NOT NULL,
	[DLLNAME] [varchar](200) NULL
) ON [PRIMARY]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AXPRUNTIME]') AND type in (N'U'))
BEGIN
CREATE TABLE [AXPRUNTIME](
	[BCFCONFIG] [image] NULL,
	[VERSION] [int] NOT NULL,
	[ISUSED] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AXPSQLMODEL]') AND type in (N'U'))
BEGIN
CREATE TABLE [AXPSQLMODEL](
	[CATALOG] [varchar](200) NOT NULL,
	[MODELNAME] [varchar](500) NOT NULL,
	[VERSION] [int] NOT NULL,
	[ISUSED] [bit] NOT NULL,
	[SQLMODELCONFIG] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AXPTEMPLATE]') AND type in (N'U'))
BEGIN
CREATE TABLE [AXPTEMPLATE](
	[TEMPLATEID] [int] NOT NULL,
	[PROGID] [varchar](200) NOT NULL,
	[TYPEID] [int] NOT NULL,
	[PARENTROWID] [int] NOT NULL,
	[CLASSJSON] [varchar](8000) NOT NULL,
	[ISUSED] [bit] NOT NULL,
        [ORDERID] [int] NULL,
 CONSTRAINT [PK_AXPTEMPALTE] PRIMARY KEY CLUSTERED 
(
	[TEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END


IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AXPSERVER]') AND type in (N'U'))
BEGIN
CREATE TABLE [AXPSERVER](
	[SERVERNAME] [varchar](256) NOT NULL,
	[SERVERSTATUS] [varchar](256) NOT NULL,
        [CREATETIME] datetime NOT NULL)
END

