@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DocumentError</title>
</head>
<body>
    <div>
        <h1>对不起，系统暂不支持该功能。</h1>
    </div>
</body>
</html>
