@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div>
        <img style="margin: 0px auto; display: block;" src="/Document/Download?DocId=@ViewData["DocId"]&UserHandle=@ViewData["UserHandle"]&modifyVerId=@ViewData["modifyVerId"]" alt="@ViewData["DocName"]"/>
    </div>
</body>
</html>
