<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MES_PP.ProductionBcf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MES_Pls.ProducePlanBcf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MES_Sys.UtilsBcf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="DefaultConnection" />
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=My;User=sa;Password=123456;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=My;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source =.;Initial Catalog =My;Integrated Security = SSPI;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=XE;User Id=system;Password=hzjk_123;"
      providerName="System.Data.OracleClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="mainPath" value="E:\TEMP\AX\AxPath" />
    <!--文档库的文件夹地址-->
    <add key="documentsPath" value="E:\TEMP\AX\AxPath\Documents" />
    <add key="extendPath" value="E:\TEMP\AX\AxExtendPath" />
    <add key="localhostName" value="localhost:80" />
    <add key="visualhostName" value="192.168.1.248:80" />
    <add key="uploadhostName" value="http://192.168.1.19:80" />
    <add key="mailConfig" value="smtp.163.com#15715702347@163.com#hzjk_123" />
    <add key="smsConfig" value="172.16.15.124#8082#SZYVMS#KSGLXT" />
    <add key="weixinConfig" value="wx084c2a848e2c9508#OLBN3CywyPVtY2oYtkdC5bIVtPwxFBYn0lODnTxSdJmGGRxTq_Nq5sPYvaZMPpC2" />
    <add key="cpsIconConfigPath" value="/Scripts/desk/images/cps" />

    <!--极光推送-->
    <add key="APP_KEY" value="98b2e55f48bdd59242eb214c" />
    <add key="MASTER_SECRET" value="94de07f5adc165e7cbe9ba70" />

  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="10485760" executionTimeout="180" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>

    <!--用于app数据交互-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true"></modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Update.html" />
        <add value="Info.html" />
        <add value="pages/login.html" />
        <add value="login.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CrossDomainServiceAspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="commServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingJsonP" maxReceivedMessageSize="9223372036854775807" transferMode="Streamed" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
        <binding name="fileTransferServicesBinding" maxReceivedMessageSize="9223372036854775807" transferMode="Streamed" sendTimeout="00:10:00">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <!--系统服务-->
      <service behaviorConfiguration="commServiceBehavior" name="AxCRL.Services.SystemService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJsonP" contract="AxCRL.Services.ISystemService" behaviorConfiguration="CrossDomainServiceAspNetAjaxBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/sysSvc" />
          </baseAddresses>
        </host>
      </service>
      <!--单据服务-->
      <service behaviorConfiguration="commServiceBehavior" name="AxCRL.Services.BillService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJsonP" contract="AxCRL.Services.IBillService" behaviorConfiguration="CrossDomainServiceAspNetAjaxBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/billSvc" />
          </baseAddresses>
        </host>
      </service>
      <!--条码采集服务-->
      <service behaviorConfiguration="commServiceBehavior" name="AxCRL.Services.WsService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJsonP" contract="AxCRL.Services.IWsService" behaviorConfiguration="CrossDomainServiceAspNetAjaxBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/wsSvc" />
          </baseAddresses>
        </host>
      </service>
      <!--系统管理-->
      <service behaviorConfiguration="commServiceBehavior" name="AxCRL.Services.SystemManager">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJsonP" contract="AxCRL.Services.ISystemManager" behaviorConfiguration="CrossDomainServiceAspNetAjaxBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/systemManager" />
          </baseAddresses>
        </host>
      </service>
      <!--文件服务-->
      <service behaviorConfiguration="commServiceBehavior" name="AxCRL.Services.FileTransferService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="fileTransferServicesBinding" contract="AxCRL.Services.IFileTransferService" behaviorConfiguration="CrossDomainServiceAspNetAjaxBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/fileTranSvc" />
          </baseAddresses>
        </host>
      </service>
      <!--模型设计服务-->
      <service behaviorConfiguration="commServiceBehavior" name="AxCRL.Services.ModelDesginService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="fileTransferServicesBinding" contract="AxCRL.Services.IModelDesginService" behaviorConfiguration="CrossDomainServiceAspNetAjaxBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/modelDesginSvc" />
          </baseAddresses>
        </host>
      </service>
      <!--全文检索-->
      <service behaviorConfiguration="commServiceBehavior" name="MES_Dm.FullTextRetrieval.Core.AxIndexer">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJsonP" contract="MES_Dm.FullTextRetrieval.Core.IIndexer" behaviorConfiguration="CrossDomainServiceAspNetAjaxBehavior"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80/fullTextRetrieval" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="http://172.16.15.124:8082/MWGate/wmgw.asmx" binding="basicHttpBinding" bindingConfiguration="wmgwSoap" contract="SMS.wmgwSoap" name="wmgwSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <MES_PP.ProductionBcf.Properties.Settings>
      <setting name="MES_PP_ProductionBcf_ProduceService_AxWsService" serializeAs="String">
        <value>http://localhost:80/AxWsService.asmx</value>
      </setting>
    </MES_PP.ProductionBcf.Properties.Settings>
    <MES_Pls.ProducePlanBcf.Properties.Settings>
      <setting name="MES_Pls_ProducePlanBcf_ProduceService_AxWsService" serializeAs="String">
        <value>http://localhost:80/AxWsService.asmx</value>
      </setting>
    </MES_Pls.ProducePlanBcf.Properties.Settings>
    <MES_Sys.UtilsBcf.Properties.Settings>
      <setting name="MES_Sys_UtilsBcf_AxWsSvc_AxWsService" serializeAs="String">
        <value>http://localhost:80/AxWsService.asmx</value>
      </setting>
    </MES_Sys.UtilsBcf.Properties.Settings>
  </applicationSettings>
</configuration>